h1 {
  color: #545454;
  text-align: center;
  text-shadow: 12.5% 12.5% 12.5% rgba(0,0,0,.5)
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

p{
  font-size: 125%;
  text-align: center;
}

body{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/fb/John_Constable_-_Cloud_Study_-_Google_Art_Project.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  font-family: vidaloka;
  text-align: center;
}

#informationDisplayAbout{
  margin: auto;
  max-width:500px;
  text-align: center;
}

.tooltip {
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: black;
  border-radius: 6px;
  color: #fff;
  padding: 5px 0;
  position: absolute;
  right: 105%;
  top: -5px;
  text-align: center;
  visibility: hidden;
  width: 120px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.marginauto {
  display: block;
  margin: 10px auto 20px;
}

.button {
  border: none;
  box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  color: #E3EFFC;
  cursor: pointer;
  display: inline-block;
  font-family: vidaloka;
  font-size: 125%;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button1 {
  background-color: #E3EFFC;
  border: 2px solid #bcc9d6;
  color: #545454;
}

.button1:hover {
  background-color: #bcc9d6;
  color: white;
}

@font-face {
  font-family: vidaloka;
  src: url(Vidaloka-Regular.ttf);
}
